body {
    /* background-color: black; */
    font-family: 'Source Code Pro', monospace;
    /* color: white; */
}
.card {
    text-align: center;
    /* background-color: transparent; */
}
#playButton {
    color:rgb(117, 167, 117);
    border: 2px solid rgb(117, 167, 117);
    border-radius: 30px;
}
#playButton:hover {
    color: white;
    background-color: rgb(117, 167, 117); ;
}
#resetButton {
    color: rgb(182, 61, 61);
    border: 2px solid rgb(182, 61, 61);
    border-radius: 30px;
}
#resetButton:hover {
    color: white;
    background-color:rgb(182, 61, 61) ;
}
#rulesButton {
    color: rgb(67, 67, 170);
    border: 2px solid rgb(67, 67, 170);
    border-radius: 30px;
}
#rulesButton:hover {
    color:white;
    background-color: rgb(67, 67, 170);
}
#weapon, #opponent{
    text-align: center;
}
#sword, #magic, #bow, #charge, #dragon, #crocodile, #gorilla, #godzilla, #octopus, #shark, #snake{
    background-color: transparent;
    border-color: transparent;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
